/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles for the body and container */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Updated styles for navbar */
.navbar {
  background-color: #1e1e1e; /* Darker background color */
  color: #fff;
  padding: 15px 0; /* Increased padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
  transition: background-color 0.3s ease; /* Adding transition effect */
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 30px; /* Adjusted margin */
}

.nav-links li {
  margin-right: 20px; /* Adjusted margin */
}

.nav-links li a {
  color: #ddd; /* Slightly lighter text color */
  text-decoration: none;
  transition: color 0.3s ease; /* Adding transition effect */
  font-size: 1.1em; /* Increased font size */
}

.nav-links li a:hover {
  color: #ffd700; /* Changing color on hover */
}

/* Styles for hero section */
.hero {
  background-image: url('assets/neural_network.png'); /* Set the background image */
  background-size: cover; /* Adjusts the background image to cover the entire section */
  background-position: center; /* Centers the background image */
  text-align: center;
  padding: 100px 0;
  color: #ffffff; /* Example text color */
}

.hero h1 {
  font-size: 3.3em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 2.0em;
}

.projects_main {
  padding: 50px 20px;
}

.projects_main h2 {
  color: #2c3e50;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.project-card_main {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out;
}

.project-card_main:hover {
  transform: translateY(-5px);
}

.project-card_main h3 {
  color: #2980b9;
  font-size: 1.0em;
  margin-bottom: 10px;
}

.project-card_main p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
}

.project-card_main .project-card_main {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2980b9;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.project-card_main .project-card_main:hover {
  background-color: #2471a3;
}


/* Styles for Projects page */
.projects-container {
  padding: 50px 20px;
}

.projects h2 {
  color: #2c3e50;
  font-size: 2.5em;
  margin-bottom: 30px;
}

.project-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card h3 {
  color: #2980b9;
  font-size: 1.8em;
  margin-bottom: 15px;
}

.project-card p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.project-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2980b9;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.project-button:hover {
  background-color: #2471a3;
}

.projects-message {
  text-align: center; /* Center align the message */
  margin-top: 40px; /* Adjust margin for spacing */
}

.projects-message h3 {
  font-size: 24px; /* Increase font size */
  color: #333; /* Change text color */
  margin-bottom: 20px; /* Adjust bottom margin */
}

.projects-link {
  color: #009688;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-weight: bold; /* Make the link bold */
}

.projects-link:hover {
  color: #00665f;
}

/* Styles for contact section */
.contact-details,
.contact-social {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.contact-details h2,
.contact-social h2 {
  color: #2c3e50;
  margin-bottom: 20px;
}

.contact-card,
.social-links a {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.contact-card:hover,
.social-links a:hover {
  transform: translateY(-5px);
}

.contact-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #2980b9;
}

.contact-card p {
  color: #666;
}

.contact-social h2 {
  color: #2980b9;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a {
  margin: 0 10px;
  display: inline-block;
}

.social-links img {
  width: 40px;
  height: 40px;
}
/* Styles for footer section */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

/* Styles for improving link readability and footer size */
.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list li {
  margin-bottom: 8px;
}

.contact-list a {
  color: #0366d6;
  text-decoration: underline;
  font-weight: bold;
}

.footer-text {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}

/* Specific styles for project details */
.project-details {
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.project-details h2 {
  color: #2c3e50;
  margin-bottom: 20px;
}

.project-details h3 {
  color: #2980b9;
  margin-top: 20px;
}

.project-details ul {
  margin-top: 10px;
  padding-left: 20px;
}

.project-details li {
  margin-bottom: 5px;
}

.project-details p {
  margin-top: 10px;
  line-height: 1.5;
}

.project-details a {
  color: #3498db;
}

.project-details a:hover {
  text-decoration: underline;
}

.main-content {
  padding: 20px;
}

/* Content Sections */
.about-content,
.skills-content,
.passion-content,
.education-content {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

/* Add hover effect */
.about-content:hover,
.skills-content:hover,
.passion-content:hover,
.education-content:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Headings */
.about-content h2,
.skills-content h2,
.passion-content h2,
.education-content h2 {
  font-size: 2.0em;
  margin-bottom: 15px;
  color: #009688;
  border-bottom: 2px solid #009688;
  padding-bottom: 10px;
}

/* Text Content */
.about-content p,
.passion-content p,
.education-content p {
  color: #333;
  line-height: 1.6;
}

/* Skills List */
.skills-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-content li {
  font-size: 1.0em;
  color: #444;
  margin-bottom: 12px;
  position: relative;
  line-height: 1.5;
  padding-left: 30px; /* Increased padding for better spacing */
}

.skills-content li:before {
  content: '\2022';
  position: absolute;
  left: 0;
  color: #009688;
  font-size: 1.0em; /* Adjust the bullet size */
  line-height: inherit; /* Ensure consistent line height */
  top: 0; /* Adjust vertical alignment */
}

/* Skill Meter */
.skill-meter {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.skill-meter-title {
  flex: 1;
  font-weight: bold;
}

.skill-meter-bar {
  flex: 4;
  height: 8px;
  background-color: #ddd;
  border-radius: 5px;
  margin: 0 10px;
  position: relative;
}

.skill-meter-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
  background-color: #009688;
}

.skill-meter-rating {
  flex: 1;
  text-align: right;
  font-weight: bold;
}

/* Education Section */
.education-list {
  list-style: none; /* Removes default list styling */
  padding: 0;
  margin: 0;
}
.education-item {
  border-left: 3px solid #009688;
  padding-left: 15px;
  margin-bottom: 20px;
}

.education-title {
  font-size: 1.0em;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

.education-details {
  font-size: 1.0em;
  color: #555;
  line-height: 1.5;
  padding-left: 20px; /* Adjusted padding for better spacing */
}
/* Styles for About Me section */
.about-main {
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.about-main .container {
  text-align: center;
}

.about-main h2 {
  color: #2c3e50;
  font-size: 2.5em;
  margin-bottom: 30px;
}

.about-main p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

